/* ------------------------------------------------------------ *\
	New Styles
\* ------------------------------------------------------------ */
body { border-top: none; background: #fff; font-family: 'Adelle', Arial, sans-serif; color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Adelle', Arial, sans-serif; }

ol,
ul { padding-left: 0; }

/* ------------------------------------------------------------ *\
	Containers
\* ------------------------------------------------------------ */
.page { padding-bottom: 0; }

.contentWrapper { max-width: 1240px; padding-left: 0; padding-right: 0; }

.shell { max-width: 1240px; margin: 0 auto; }

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.globalHeader,
.globalHeader.globalHeader--home { padding-bottom: 12px; background: #fff; font-family: 'Dinot', sans-serif; font-weight: bold; }

/* ------------------------------------------------------------ *\
	Splash Items
\* ------------------------------------------------------------ */

.splash { overflow: hidden; top: -131px; min-height: 0; height: auto; display: block; padding: 131px 0 209px; margin-bottom: -131px; }
/*
.splash:after { position: absolute; bottom: 0; left: 0; width: 100%; height: 65px; background: url(images/strip-white-large.png) no-repeat 0 0; content: ''; backface-visibility: hidden; }
.splash:after {
	-webkit-background-size: 100% 100%;
	        background-size: 100% 100%;
} */

.splash:after { position: absolute; bottom: -55px; left: -10%; width: 120%; height: 100px; background: #fff; content: ''; }

.splash:after {
	-webkit-transform: rotate(-2.5deg);
	    -ms-transform: rotate(-2.5deg);
	     -o-transform: rotate(-2.5deg);
	        transform: rotate(-2.5deg);
}

.splash .contentWrapper { display: block; padding: 0 150px; }
.splash .contentWrapper {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

ul.splash_background { padding: 0; }

.splash_item { background-position: 0 0; }
.splash_item {
	-webkit-background-size: cover;
	        background-size: cover;
}

.splash_title { max-width: none; margin: 72px 0 22px; font-size: 62px; text-align: center; font-weight: 100; letter-spacing: -0.058em; }
.splash_title br { display: none; }

.splash_title .splash_wrap { display: block; font-size: 62px; line-height: 1.06; color: #4c4c4c; }
.splash_title .splash_part { display: inline; padding: 0; margin: 0; background: none; color: #4c4c4c; white-space: normal; }

.splash-foot { margin-bottom: 22px; font-size: 18px; line-height: 1.44; color: #171420; letter-spacing: -0.04em; }

.splash-link { font-family: 'Dinot', Arial, sans-serif; font-size: 14px; font-weight: bold; letter-spacing: 0.16em; }

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.globalFooter { position: relative; overflow: hidden; width: 100%; padding: 100px 0 0px !important; background-color: transparent; }
.globalFooter:before { position: absolute; top: 50px; left: -10%; z-index: -1; width: 120%; height: 120%; background: #3d3d3d; content: ''; }

.globalFooter {
	-webkit-background-size: cover;
	        background-size: cover;
}
.globalFooter:after,
.globalFooter:before {
	-webkit-transform: rotate(1.5deg);
	    -ms-transform: rotate(1.5deg);
	     -o-transform: rotate(1.5deg);
	        transform: rotate(1.5deg);
}

.globalFooter:after { position: absolute; top: 50px; left: -10%; z-index: -1; width: 120%; height: 150%; content: ''; }

.globalFooter.globalFooter-home {  }

.globalFooter.globalFooter-home:before,
.globalFooter.globalFooter-home:after {
	-webkit-transform: rotate(-2.5deg);
	    -ms-transform: rotate(-2.5deg);
	     -o-transform: rotate(-2.5deg);
	        transform: rotate(-2.5deg);
}

.legalNav { margin-bottom: 53px; }

.footerMenu_item,
.legalMenu_item { margin: 20px 25px 0; }

.globalFooter_section { margin-bottom: 63px; }

.globalFooter_section>.logo { margin: 0; vertical-align: top; }
.globalFooter_section>.logo + .logo { margin: 15px 0 0 70px; }

.footerMenu_link:hover,
.footerMenu_link { width: auto; background: none; font-family: 'Adelle', Arial, sans-serif; font-size: 24px; font-weight: 100; text-transform: none; letter-spacing: -0.02em; }

.footerMenu_link:hover { opacity: 0.6; }

.footerMenu_link {
	-webkit-transition: opacity 0.4s;
	     -o-transition: opacity 0.4s;
	        transition: opacity 0.4s;
}

.footerMenu_item,
.legalMenu_item,
.legalMenu_link { font-size: 17px; color: #ccc; }

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
.container { position: relative; z-index: 2; font-family: 'Adelle', Arial, sans-serif; font-size: 14px; }

.container img { display: inline-block; max-width: 100%; width: auto; height: auto; }

.container .link,
.section-primary .link { font-family: 'Dinot', Arial, sans-serif; font-size: 12px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.16em; }

/* ------------------------------------------------------------ *\
	General
\* ------------------------------------------------------------ */

.imgwrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 310px;
    padding: 0;
    margin: 0;
    background-image: url(images/imgwrapper.png);
    opacity: 0.3;
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main { background: #fff; }
.main:before,
.main:after { display: table; content: ' '; }
.main:after { clear: both; }

.main-secondary { position: relative; top: -157px; margin-bottom: -57px; }
.main-tertiary .main-head:before,
.main-secondary:before { position: absolute; left: 0; top: -25px; width: 100%; height: 25px; background: url(images/main-head.png) no-repeat 0 bottom; content: ''; }
.main-tertiary .main-head:before,
.main-secondary:before {
	-webkit-background-size: 100% auto;
	        background-size: 100% auto;
}

.main-tertiary .main-head:before {
	-webkit-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	     -o-transform: scaleX(-1);
	        transform: scaleX(-1);
}

.main-secondary .main-head { text-align: center; }

.main-secondary .main-body:before,
.main-secondary .main-body:after { display: table; content: ' '; }
.main-secondary .main-body:after { clear: both; }

.main-title { position: relative; top: -70px; z-index: 2; margin-bottom: -14px; font-size: 92px; font-weight: 900; }
.main-title a { color: #000; }

.page_title { width: 1020px; margin: 0 auto; text-align: center; font-size: 92px; font-weight: 900; height: 157px; top: 32px; position: relative; }
.bio_title { font-size: 40px; }
.search_title { font-size: 45px; }
.masters_title { font-size: 70px; }

.main-secondary.main-alt .main-title { margin-bottom: 53px; }

.main-tertiary { position: relative; top: -216px; margin-bottom: -136px; background: none; }
.main-tertiary .main-head { position: relative; max-width: 920px; padding: 0 160px 100px; margin: 0 auto; background: #fff; text-align: center; }
.main-tertiary .main-head h3 { margin-bottom: 30px; font-size: 38px; color: #333; font-weight: 100; }

.main-tertiary .page_intro { padding: 0; margin: 0; background: none; font-size: 16px; color: #000; font-weight: 300; }

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.main-primary .content { position: relative; top: -130px; float: left; width: 643px; padding-left: 45px; margin-bottom: -190px; background: #fff; }

.main-primary .content-head { margin-bottom: 24px; }
.main-primary .content-head:before { position: absolute; top: -25px; left: 0; width: 100%; height: 25px; content: ''; }

.main-primary .content-foot:after { position: absolute; bottom: -30px; left: 0; width: 100%; height: 30px; content: ''; }

.main-primary .content-head:before,
.main-primary .content-foot:after {
	-webkit-background-size: 100% auto;
	        background-size: 100% auto;
}

.content-logo { text-align: center; }

.content-head .content-logo { margin: 40px 0 0; }

.content-foot .content-logo { margin: 21px 0 18px; }

.content-actions { text-align: center; }

.main-secondary .content { float: left; width: 865px; }

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */
.sidebar { float: left; width: 277px; }

.sidebar-orig { width: auto; }

.sidebar-right { float: right; }

.sidebar_title { font-weight: 700; }

.main-primary .sidebar-left { padding-right: 28px; border-right: 1px solid #e5e5e6; }
.main-primary .sidebar-right { padding-left: 31px; border-left: 1px solid #e5e5e5; }

/* ------------------------------------------------------------ *\
	Articles
\* ------------------------------------------------------------ */
.articles-actions { margin-top: 30px; text-align: center; }

.article { position: relative; text-align: center; }

.article ~ .article { padding-top: 38px; margin-top: 32px; }
.article ~ .article:before { position: absolute; top: 0; left: 50%; width: 40px; border-top: 5px solid #000; margin-left: -19px; content: ''; }

.article-title { margin-bottom: 17px; font-size: 36px; line-height: 1.17; font-weight: 100; letter-spacing: -0.04em; }
.article-title { width: 90%; margin-left: auto; margin-right: auto; }
.article-title a { color: #000; }

.article-content { padding: 0 63px; }
.article-content p { margin-bottom: 19px; line-height: 1.43; font-weight: 300; }

.article-actions { position: relative; z-index: 2; margin-bottom: -19px; }

/* ------------------------------------------------------------ *\
	Article News
\* ------------------------------------------------------------ */
.article-news .article-head { position: relative; padding: 0 160px 61px; margin-bottom: 35px; text-align: center; }
.article-news .article-head:after { position: absolute; bottom: 0; left: 0; width: 100%; height: 21px; background: url(images/article-separator.png) no-repeat 0 0; content: ''; }

.article-head p { width: 70%; margin-left: auto; margin-right: auto; }

.article-news .article-meta { margin-bottom: 7px; letter-spacing: -0.02em; }
.article-news .article-meta-date { position: relative; display: inline-block; padding-right: 7px; margin-right: 4px; font-size: 18px; vertical-align: top; }
.article-news .article-meta-date:after { position: absolute; top: 7px; right: 0; height: 14px; border-right: 1px solid #cccccc; content: ''; }
.article-news .article-meta-date strong { font-weight: 900; }

.article-news .post_categories { display: inline-block; color: #808080; vertical-align: top; }
.article-news .post_categories strong { font-weight: 300; }

.article-news .article-title { margin-bottom: 21px; font-size: 48px; }

.article-news .article-body { padding: 0 116px 0 160px; }

.article-news .article-image { text-align: center; }

.article-news .article-content { float: left; width: 62%; padding: 0; font-size: 16px; }
.article-news .article-content p { margin-bottom: 28px; line-height: 1.75; }
.article-news .article-content h4 { margin: 30px 0 2px; }
.article-news .sidebar-alt { float: right; width: 28%; padding-top: 9px; }

/* ------------------------------------------------------------ *\
	Widgets
\* ------------------------------------------------------------ */
.widgets { padding: 0; margin: 0; list-style: none outside none; }

.sidebar-alt .widget-news.widget-reset, .widget-reset { margin-top: 0; padding-top: 0;}

.widget-head span { font-size: 14px; font-weight: 300; text-transform: uppercase; }
.widget-head p { margin-bottom: 0; font-size: 14px; line-height: 1.43; font-weight: 300; }
.widget-title { margin-bottom: 14px; font-size: 32px; font-weight: 900; }
.widget-title a { color: #000; }

.widget h4 { line-height: 1.29; }

.sidebar-alt .widget ~ .widget { border-top: 1px solid #e5e5e5; }

/* ------------------------------------------------------------ *\
	Widget Stories
\* ------------------------------------------------------------ */
.widget-stories { position: relative; padding: 22px 0 66px; text-align: center; }
.widget-stories .widget-head { position: relative; z-index: 3; }
.widget-stories:before { position: absolute; bottom: 0; right: -28px; z-index: 5; width: 65%; border-bottom: 1px solid #e5e5e5; content: ''; }
.widget-stories:after { position: absolute; top: 0; right: -28px; z-index: 6; width: 10px; height: 100%; background: url(images/border-green-pattern.png) repeat-y 0 0; content: ''; }

.widget-stories .widget-title { margin-bottom: 14px; color: #0ccd70; }

.widget-stories .widget-head { margin-bottom: 29px; }
.widget-stories .widget-head p { margin-bottom: 3px; }

.stories { list-style: none outside none; }
.story { position: relative; padding-bottom: 18px; font-size: 0; }
.story ~ .story { margin-top: 50px; }
.story:after { position: absolute; bottom: 0; left: 50%; z-index: 4; width: 5px; height: 5px; margin-left: -2px; background: #0ccd70; content: ''; }
.story:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.story-image { display: inline-block; position: relative; }
{!--
.story-image:before { position: absolute; top: -32px; left: -32px; z-index: 1; width: 100px; height: 100px; border: 52px solid #fff; content: ''; }
.story-image:before {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
--}

.story-content { position: relative; z-index: 2; }

.story-image img { display: block; }

.story-content { font-size: 14px; }
.story h4 { margin-top: 7px; }
.story p { margin-bottom: 0; line-height: 1.29; }
.story a { color: #000; }


/* ------------------------------------------------------------ *\
	Widget News
\* ------------------------------------------------------------ */
.widget-news { margin-top: 49px; }

.widget-news .widget-head { margin-bottom: 44px; }
.widget-news .widget-head span { color: #4c4c4c; font-weight: 600; }

.widget-news .widget-title { color: #0f2c52; }

.news-items { list-style: none outside none; }
.news-item { position: relative; overflow: hidden; }
.news-item a { color: #000; }
.news-item ~ .news-item { margin-top: 20px; }
.news-item .news-content { padding-bottom: 20px; }
.news-item .news-content:before { position: absolute; bottom: 0; left: 0; width: 14px; border-top: 1px solid #cccccc; content: ''; }

.news-item:last-child .news-content:before { display: none; }

.news-image { float: left; margin-right: 13px; }
.news-content { position: relative; overflow: hidden; }

.news-content h4 { margin-bottom: 9px; }
.news-content p { margin-bottom: 0; line-height: 1.29; }

.sidebar-alt .widget-news { padding-top: 28px; margin-top: 31px; }
.sidebar-alt .widget-title { line-height: 0.96; }

.sidebar-alt .news-content h4 { margin-bottom: 4px; }

.sidebar-alt .news-item:last-child .news-content:before { display: block; }

/* ------------------------------------------------------------ *\
	Widget Primary
\* ------------------------------------------------------------ */
.widget-primary { margin-top: 15px; }
.widget-primary .widget-head { margin-bottom: 28px; }

.widget-primary .widget-body { margin-bottom: 4px; }
.widget-primary p { margin-bottom: 0; line-height: 1.43; }

/* ------------------------------------------------------------ *\
	Widget Faculty
\* ------------------------------------------------------------ */
.widget-faculty { position: relative; padding: 47px 0 0; margin: 39px 0 20px; }

.widget-faculty .widget-body:after,
.widget-faculty:before { position: absolute; top: 0; left: -31px; width: 65%; border-top: 1px solid #e5e5e5; content: ''; }
.widget-partners:after,
.widget-faculty:after { position: absolute; top: 0; left: -31px; width: 9px; height: 100%; content: ''; }

.widget-faculty .widget-head { margin-bottom: 39px; }
.widget-faculty .widget-head p { margin-bottom: 4px; }

.widget-faculty .widget-body { position: relative; padding-bottom: 28px; }
.widget-faculty .widget-body:after { top: auto; bottom: 0; }

.widget-faculty .widget-title { color: #008aff; }

.faculty-items { font-size: 0; list-style: none outside none; }
.faculty-item { position: relative; display: inline-block; width: 50%; padding: 0 10px 13px 0; margin-bottom: 30px; font-size: 14px; vertical-align: text-top; }
.faculty-item a { color: #000; }

/*.faculty-item:after { position: absolute; bottom: 0; left: 0; width: 7px; height: 7px; border-radius: 50%; background: #008aff; content: ''; }
*/
.faculty-image { overflow: hidden; display: inline-block; width: 100%; border-radius: 50%; }
.faculty-image img { display: block; }

.faculty-content { line-height: 1.43; }
.faculty-content h4 { margin-bottom: 0; text-align: center }
.faculty-content p { margin: 0px 0 0; line-height: 1.29; text-align: center; font-size: 12px; }
.faculty-content span { font-style: italic; }

/* ------------------------------------------------------------ *\
	Widget Subscribe
\* ------------------------------------------------------------ */
.widget-subscribe { margin-top: 34px; }

.sidebar-alt .widget-subscribe { padding-top: 42px; margin-top: 70px; }

.widget-subscribe .widget-head { margin-bottom: 15px; }

.widget-subscribe .widget-title { margin-bottom: 0; font-size: 14px; color: #2baa37; font-weight: 600; }

.widget-subscribe .widget-foot { margin-top: 12px; }
.widget-subscribe .widget-foot p { margin-bottom: 0; font-size: 11px; color: #808080; font-weight: 300; font-style: italic; }
.widget-subscribe .widget-foot p a { color: #000; }

.subscribe .hidden { display: none; }

.subscribe { position: relative; padding-right: 38px; border: 2px solid #cccccc; }

.subscribe-field { display: block; width: 100%; height: 34px; padding: 8px 12px 7px; border: none; -webkit-appearance: none; }

.subscribe-btn { position: absolute; top: 0; right: 0; width: 38px; height: 100%; border: none; border-left: 2px solid #cccccc; background: #fff; -webkit-appearance: none; font-size: 0; }
.subscribe-btn:before { position: absolute; top: 50%; left: 0; width: 100%; font-size: 28px; color: #008aff; text-align: center; content: '\00bb'; }
.subscribe-btn:before {
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.subscribe ::-webkit-input-placeholder { color: #999; font-weight: 300; opacity: 1; }
.subscribe :-moz-placeholder { color: #999; font-weight: 300; opacity: 1; }
.subscribe ::-moz-placeholder { color: #999; font-weight: 300; opacity: 1; }
.subscribe ::input-placeholder { color: #999; font-weight: 300; opacity: 1; }
.subscribe input::-moz-placeholder { color: #999; font-weight: 300; opacity: 1; }
.subscribe input[placeholder] { color: #999; font-weight: 300; opacity: 1; }
.subscribe textarea[placeholder] { color: #999; font-weight: 300; opacity: 1; }
.subscribe :-ms-input-placeholder { color: #999; font-weight: 300; opacity: 1; }

/* ------------------------------------------------------------ *\
	Widget Partners
\* ------------------------------------------------------------ */
.widget-partners { position: relative; padding: 42px 0 38px; margin-top: 41px; }

.widget-partners:after { background-image: url(images/border-orange-pattern.png); }

.widget-partners .widget-head span { color: #4c4c4c; font-weight: 600; }

.widget-partners .widget-head p { margin-bottom: 3px; }

.widget-partners .widget-title { color: #f37902; }

.table-partners table { width: 100%; table-layout: fixed; text-align: center; }
.table-partners td { height: 75px; vertical-align: middle; }
.table-partners td + td { border-left: 1px solid #e4e4e4; }
.table-partners tr + tr td { border-top: 1px solid #e4e4e4; }

.table-partners td img { display: block; margin: 0 auto; }

/* ------------------------------------------------------------ *\
	Widget Categories
\* ------------------------------------------------------------ */
.widget-categories .widget-head { margin-bottom: 19px; }
.widget-categories .widget-title { margin-bottom: 0; color: #0f2c52; }

.widget-categories ul { list-style: none outside none; }
.widget-categories ul li { position: relative; padding-left: 10px; }
.widget-categories ul li ~ li { margin-top: 12px; }
.widget-categories ul li:before { position: absolute; top: 12px; left: -2px; width: 7px; border-bottom: 1px solid #aaaaaa; content: ''; }
.widget-categories ul a { font-family: 'Dinot', Arial, sans-serif; font-size: 15px; font-weight: bold; text-transform: uppercase; }

/* ------------------------------------------------------------ *\
	Section Primary
\* ------------------------------------------------------------ */

.section-primary { position: relative; z-index: 1; overflow: hidden; padding: 250px 0 265px; margin-bottom: -98px !important; background: url(images/section-primary-image.png) no-repeat; background-position: 50% 50%; text-align: center; }
.section-primary {
	-webkit-background-size: cover;
	        background-size: cover;
}

.section-primary:after { position: absolute; top: -30px; left: -10%; z-index: 2; width: 120%; height: 60px; background: #fff; content: ''; }
.section-primary:after {
	-webkit-transform: rotate(1.5deg);
	    -ms-transform: rotate(1.5deg);
	     -o-transform: rotate(1.5deg);
	        transform: rotate(1.5deg);
}

.section-primary .section-body { padding: 0 160px; }

.section-primary .section-title { margin-bottom: 21px; font-size: 62px; line-height: 1.06; color: #4c4c4c; font-weight: 100; letter-spacing: -0.058em; }

.section-primary .link { font-size: 14px; }

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */
.intro { overflow: hidden; }

.intro-image { position: relative; min-height: 348px; background-repeat: no-repeat; }
.intro-image {
	-webkit-background-size: cover;
	        background-size: cover;
}

.intro-alt .intro-image { min-height: 405px; }

.intro-image:after { position: absolute; bottom: -55px; left: -10%; width: 120%; height: 100px; background: #fff; content: ''; }

.intro-image:after {
	-webkit-transform: rotate(-2.5deg);
	    -ms-transform: rotate(-2.5deg);
	     -o-transform: rotate(-2.5deg);
	        transform: rotate(-2.5deg);
}

.intro-alt .intro-image:after {
	-webkit-transform: rotate(2deg);
	    -ms-transform: rotate(2deg);
	     -o-transform: rotate(2deg);
	        transform: rotate(2deg);
}

/* ------------------------------------------------------------ *\
	Media Queries
\* ------------------------------------------------------------ */

/* max-width: 1340px */
@media (max-width: 1340px) {
	.gallery { padding-right: 30px; padding-left: 30px; }
	.gallery_slides .slick-next { right: -30px; }
	.gallery_slides .slick-prev { left: -30px; }
}

/* max-width: 1250px */
@media (max-width: 1250px) {
	.globalMenu > .globalMenu_item > .globalMenu_link--button { margin-left: 5px !important; }

	.globalMenu > .globalMenu_item > .globalMenu_link { padding: 0 5px; font-size: 15px; }

	.shell { padding: 0 5px; }

	.sidebar { width: 27%; }
	.sidebar-orig { width: auto; }
	.main-secondary .content { width: 70%; }

	.main-primary .sidebar { width: 25%; }
	.main-primary .content { width: 50%; padding: 0 10px 0 20px; }

	.faculty-item { display: block; width: 100%; }
	.faculty-image { float: none; display: inline-block; }

	.article-content { padding: 0 10px; }

	.splash .contentWrapper { padding: 0 50px; }

	.section-primary { padding: 150px 0; margin-bottom: -100px !important; }
	.section-primary .section-body { padding: 0 30px; }

	/*  Article News  */
	.article-news .article-head,
	.article-news .article-body { padding: 0 80px 60px; }

	/*  Blog Listing  */
	.blogListing { padding-left: 20px; }

	/*  Gallery  */
	.gallery-content { max-width: 676px; padding-right: 40px; }

	/*  Media Block  */
	.mediaBlock-intro { padding-right: 40px; }
}

/* max-width: 969px */
@media (max-width: 969px) {
	/*  Mobile Nav  */
	.btn--menu { display: block; position: absolute; top: 40px; right: 15px; width: 25px; height: 15px; }
	.btn--menu:before,
	.btn--menu:after { position: absolute; left: 0; width: 100%; height: 3px; background: #333; content: ''; }
	.btn--menu:before { top: 0; box-shadow: 0 6px #333; }
	.btn--menu:after { bottom: 0; }

	/*  Main  */
	.main-tertiary { background: #fff; }
	.main-tertiary .main-head { max-width: none; padding: 0 40px 40px; }

	.main-primary .sidebar { width: 30%; }
	.main-primary .content { top: -80px; width: 40%; padding: 0 5px 0 10px; margin-bottom: -80px; }

	.main-title { font-size: 80px; }
	.page_title {   width: auto; font-size: 80px; }

	.splash { padding-bottom: 170px; }
	.splash:after { background-position: center bottom; }
	.section-primary:after,
	.splash:after {
		-webkit-background-size: 100% auto;
		        background-size: 100% auto;
	}

	/*  Footer  */
	.globalFooter { padding: 120px 0 50px; }

	.globalFooter_section>.logo + .logo { margin-left: 15px; }
	.socialNav { margin-left: 5px; }
	.socialMenu_item { margin: 0 10px; }

	.footerLink_mailing,
	.footerLink_mailing:hover { margin: 15px 0 0 30px; }

	/*  Nav  */
	.globalNav { margin-top: 0; }
	.globalMenu>.globalMenu_item>.globalMenu_link, .utilityMenu>.globalMenu_item>.globalMenu_link, .globalMenu>.utilityMenu_item>.globalMenu_link, .utilityMenu>.utilityMenu_item>.globalMenu_link, .globalMenu>.globalMenu_item>.utilityMenu_link, .utilityMenu>.globalMenu_item>.utilityMenu_link, .globalMenu>.utilityMenu_item>.utilityMenu_link, .utilityMenu>.utilityMenu_item>.utilityMenu_link,.globalMenu_sub--2 .globalMenu_link, .globalMenu_sub--2 .utilityMenu_link { font-family: 'Adelle', Arial, sans-serif; font-weight: 300; }
	.globalMenu>.globalMenu_item>.globalMenu_link { padding: 8px 13px; font-size: 14px; color: #818d9b; text-transform: none; }
	.globalMenu > .globalMenu_item > .globalMenu_link--button { padding: 8px 13px !important; margin: 0 !important; line-height: 20px !important; letter-spacing: 0; }

	.globalMenu > .globalMenu_item > .globalMenu_link--button { background: none; }

	/*  Article  */
	.article-title { font-size: 30px; }
	.article-title a { color: #000; }

	/*  Article News  */
	.article-news .article-head,
	.article-news .article-body { padding: 0 20px 60px; }

	.article-news .article-title { font-size: 40px; }
}

/* max-width: 767px */
@media (max-width: 767px) {
	/*  Splash  */
	.splash { padding-bottom: 140px; }
	.splash .contentWrapper { padding: 0 10px; }
	.splash_title { margin-top: 30px; }
	.splash_title,
	.splash_title .splash_wrap { font-size: 36px; }

	/*  Main  */
	.main-primary .sidebar { float: none; width: auto; }
	.main-primary .content { top: -120px; float: none; width: auto; padding: 0; margin-bottom: -120px; }

	.main-primary .sidebar-left { padding: 0 14px; margin-top: 0; }

	.main-primary .sidebar-right { margin-top: 25px; }

	.main-secondary { top: -100px; margin-bottom: -60px; }

	.main-tertiary { top: -100px; margin-bottom: -60px; }
	.main-tertiary .main-head { padding: 0 5px 20px; }
	.main-tertiary .main-head h3 { margin-bottom: 15px; font-size: 30px; }

	.main-tertiary .page_intro { font-size: 14px; }

	.main-title { top: -38px; font-size: 43px; }
	.page_title {  width: auto; font-size: 43px; }

	.main-secondary.main-alt .main-title { margin-bottom: -14px; }

	.sidebar,
	.content,
	.main-secondary .content { float: none; width: auto; }

	.sidebar { margin-top: 25px; }

	/*  Articles  */
	.article ~ .article { padding-top: 25px; margin-top: 25px; }

	.article-title { font-size: 30px; }

	/*  Section Primary  */
	.section-primary { padding: 70px 0; margin-bottom: -42px !important; }
	.section-primary .section-title { font-size: 30px; }

	.section-primary .section-body { padding: 0; }

	/*  Widgets  */
	.widget-stories { padding: 15px 0 20px; }
	.widget-stories { display: none; }

	.widget-news .widget-head { margin-bottom: 20px; }

	.widget-testimonials:before,
	.widget-stories:after,
	.widget-stories:before { right: -14px; }

	.story ~ .story { margin-top: 25px; }

	.widget-testimonials { margin-top: 25px; }

	.sidebar-alt .widget ~ .widget { padding-top: 20px; margin-top: 20px; }

	/*  Footer  */
	.globalFooter { padding-top: 50px; padding-bottom: 20px; }
	.globalFooter-home { padding-top: 50px; }

	.globalFooter:before,
	.globalFooter:after { top: 15px; }

	.footerNav,
	.legalNav { margin-bottom: 20px; }

	.globalFooter_section { margin-bottom: 20px; }

	.footerMenu_item,
	.legalMenu_item,
	.legalMenu_link { margin: 0; }

	.footerMenu_item,
	.legalMenu_item { display: block; }

	.footerMenu_link:hover,
	.footerMenu_link { font-size: 22px; }

	.legalMenu_item ~ .legalMenu_item { margin-top: 10px; }

	/*  Article News  */
	.article-news .article-head,
	.article-news .article-body { padding: 0 0px 40px; }
	.article-news .article-head { margin-bottom: 15px; }

	.article-news .sidebar-alt,
	.article-news .article-content { float: none; width: auto; }

	.article-news .article-content { font-size: 14px; }

	.article-news .article-content p { margin-bottom: 10px; }
	.article-news .article-content h4 { margin-top: 15px; }

	.article-news .article-title { font-size: 32px; }

	.article-news .article-meta-date { display: block; padding: 0; margin: 0; }
	.article-news .article-meta-date:after { display: none; }

	/*  Intro  */
	.intro-alt .intro-image,
	.intro-image { min-height: 250px; }
}
